/*header part*/
header {
    background-image: linear-gradient(to right top, #032481, #143fb6, #073da0, #503dbb, #0518bf); 
    display: flex;  
    align-items: center; /* Vertical alignment center */     
    justify-content: start; /* Horizontal alignment to spread items */
    text-align: auto;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.1em;
    font-family: 'Times New Roman', sans-serif;
    margin-bottom: 45px;
    display: flex;
    width: 100%;
    justify-content: start;
}
header img {
    width: 187px;
    height: 223px;
    margin-top: 100px;
    border-radius: 10%;
    margin-bottom: 100px;
    margin-left: 20%;
    border: 1px solid transparent;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .2), 0 13px 24px -11px rgba(3, 36, 129, .6);

}
header span{
    display: block;
    margin-bottom: 1%;
    margin-left:10%;
    margin-right: 10%;
    text-align: left;
    color: #d6e5f8;
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: 200;
}
#emailspan{
    margin-top: 3%;
}
header h2{
    color: #d6e5f8;
    margin-left: 10%;
}
#seconda{
    margin-left: 73px;
}
header #introduce {
    margin-right: 20%;
    
}
header a{
    color: #d6e5f8;
}
body{
    margin: 0;
}
main {
    width: 100%;
    float: center;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2em;
    font-family: 'Times New Roman', sans-serif;

}
.row ,hr{
    margin-left: 20%;
    margin-top: 10px;
    margin-right: 20%;
}
.row li{
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 10px;
}

a {
    text-decoration: none;
  }
h2{
    color: #0518bf;
}
 
